slowapi
fastapi
uvicorn
pydantic
ollama
langchain-community
langchain-chroma
langchain-ollama
langchain-text-splitters
mysql-connector-python
faster-whisper
datasets
ragas
python-multipart
rank_bm25
sentence-transformers
Faker
fpdf2